.collection-page {
    padding: 40px;
    color: white;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.collection-card {
    padding: 14px;
    border-radius: 18px;
    text-align: center;
    background: rgba(0,0,0,0.18);
    transition: 0.2s ease;
}

.collection-card:hover {
    transform: translateY(-5px);
}

.collection-card img {
    width: 180px;
    border-radius: 12px;
}